{
  "importOrder": [
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^[./]",
    "<TYPES>"
  ],
  "importOrderTSVersion": "5.0.0",
  "plugins": ["./plugin.js"],
  "printWidth": 80,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all"
}
